.maincontainer {
  .header {
    height: 7vh;
    width: 100%;
    border: 1px solid black;
    // border-radius: 5px;
    text-align: center;
    padding: 5px;
    background-color: rgb(23, 3, 252);
    color: white;
    font-weight: bold;
    font-size: 25px;
    // font-size: large;
  }
  .navbar {
    height: 12vh;
    width: 100%;
    background-color: darkviolet;
    top: 0;
    position: sticky;
    z-index: 2;
  }
  .imagegallery .image-gallery-slide {
    background: linear-gradient(
      174deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 1) 35%,
      rgba(0, 212, 255, 1) 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imagegallery .image-gallery-slide img {
    width: 100%;
    max-height: 95vh;
    object-fit: contain; /* image proportion maintain rahegi */
    z-index: 1;
  }

  .testimonials {
    text-align: center;

    .slick-slide > div {
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
    }

    img {
      height: 40vh;
      object-fit: contain;
    }
    .slick-list {
      text-align: center;
    }

    .slick-slide > div {
      margin: auto;
    }
  }
  .stickers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    img {
   width: 300px;   /* sabka width equal */
  height: 300px;  /* sabka height equal */
  object-fit: contain; /* image proportion safe */
   aspect-ratio: 1 / 1;
    padding: 10px;   
    box-sizing: border-box;
    }
  }
}
